altair==4.1.0
Counter==1.0.0
jedi==0.17.1
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.19.0
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
pathtools==0.1.2
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.8.2
pycountry==20.7.3
pydeck==0.4.0b2
squarify==0.4.3
streamlit==0.62.1
testpath==0.4.4
tornado==6.3.3
wrapt==1.11.2
zipp==3.1.0
